#### Sample baleen project file ####

## Use this file as your template to construct your project and save as ~/baleen.yml
## The file is loaed by baleen-server at boot time (use --project_file option to specify file location)
## See also https://github.com/kimh/baleen/blob/master/README.md

# Project name section
baleen-poc:
  # Runner section
  runner:
    image: "kimh/baleen-poc"
    work_dir: /baleen-poc
    concurrency: 3
    before_command: |
      source /etc/profile
      export RAILS_ENV=test
      bundle exec rake db:migrate

  # Framework section
  framework:
    type: cucumber
    features: ./features/t1.feature

  # CI section
  ci:
    build: true
    url: https://github.com/kimh/baleen-poc
    repo: baleen-poc
    branch: master
